{% extends "base.html" %}
{% block nav %}{{ block.super }}{% endblock %}
{% block content %}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		
	<script type="text/javascript">
		var canvas;
		var ctx;
		var d;
		var board;
		var state;
		var gid;

		$(document).ready(function()
		{
			canvas = document.getElementById("checkerboard");
			header = document.getElementById("turn");
			ctx = canvas.getContext("2d");

			d = canvas.width / 8;
			gid = {{ gid }};
			state = {{ state }};
			board = {{ board }};

			switch(state)
			{
			case 1:
				header.innerHTML = 'Black\'s Turn'
				break;
			case 2:
				header.innerHTML = 'Red\'s Turn'
				break;
			case 3:
				header.innerHTML = 'Black Wins!!!'
				break;
			case 4:
				header.innerHTML = 'Red Wins!!!'
				break;
			case 5:
				header.innerHTML = 'Draw!'
				break;
			default:
				header.innerHTML = 'Something Broke'
				break;
			}
			
			draw_board();

			setTimeout(post_request, 1000)
		});

		function post_request()
		{
			xmlhttp.open("POST", "play_game", true);
			//xmlhttp.setRequestHeader("gameid", gid);
			xmlhttp.send();
		}

		function draw_pieces()
		{
			for (var y = 0; y < 8; y++) {
				for (var x = 0; x < 8; x++) {
					if (board[y][x] !== ' ') {
						var temp_x = (d * x) + (d / 2);
						var temp_y = (d * y) + (d / 2);

						switch(board[y][x]) {
						    case 1:
								ctx.fillStyle = "rgb(96, 0, 0)";
      							ctx.strokeStyle = "rgb(48, 0, 0)";
						        break;
						    case 3:
								ctx.fillStyle = "rgb(96, 0, 0)";
      							ctx.strokeStyle = "rgb(48, 0, 0)";
						        break;
						    case 2:
								ctx.fillStyle = "rgb(32, 32, 32)";
      							ctx.strokeStyle = "rgb(16, 16, 16)";
						        break;
						    case 4:
								ctx.fillStyle = "rgb(32, 32, 32)";
      							ctx.strokeStyle = "rgb(16, 16, 16)";
						        break;
    						default:
    							continue;
						}

						ctx.beginPath();
						ctx.arc(temp_x, temp_y, d / 2, 0, 2 * Math.PI, false);
						ctx.closePath();
						ctx.fill();
      					ctx.lineWidth = 5;
      					ctx.stroke();
					}
				}
			}
		}

		function draw_board()
		{
			var alt = true;

			for(var x = 0; x < 8; x++) {
				for (var y = 0; y < 8; y++) {
					if (alt) {
						ctx.fillStyle = "rgb(128, 0, 0)";
					}
					else {
						ctx.fillStyle = "rgb(64, 64, 64)";
					}

					ctx.fillRect(x * d, y * d, d, d);
					alt = !alt;
				}
				alt = !alt;
			}

			draw_pieces();
		}

	</script>
	<h2 id="title">Checkers</h2>
	<h3 id="turn"></h3>
	<canvas id="checkerboard" width="600" height="600" style="border:1px solid black"></canvas>
{% endblock %}
