{% extends "base.html" %}
{% block nav %}{{ block.super }}{% endblock %}
{% block content %}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		
	<script type="text/javascript">
		var canvas;
		var ctx;
		var d;
		var board;
		var possibles;
		var turn;
		var selected_pos;

		$(document).ready(function()
		{
			canvas = document.getElementById("checkerboard");
			canvas.addEventListener("mousedown", getPosition, false);
			ctx = canvas.getContext("2d");

			d = canvas.width / 8;
			turn = true;

			board = new Array();
			selected_pos = [-1, -1];

			for (var y = 0; y < 8; y++) {
				board.push(new Array());

				for (var x = 0; x < 8; x++) {
					board[y].push(' ');
				}
			}

			for (var i = 0; i < 3; i++) {
				for (var x = 0; x < 4; x++) {
					var spacer = 0;

					if (i % 2 == 0) {
						spacer += 1;
					}

					board[i][x * 2 + spacer] = 'b';

					spacer += 1;
					spacer %= 2;

					board[7 - i][x * 2 + spacer] = 'r';
				}
			}
			
			draw_board();
		});

		function draw_pieces()
		{
			for (var y = 0; y < 8; y++) {
				for (var x = 0; x < 8; x++) {
					if (board[y][x] !== ' ') {
						var temp_x = (d * x) + (d / 2);
						var temp_y = (d * y) + (d / 2);

						switch(board[y][x]) {
						    case 'r':
								ctx.fillStyle = "rgb(96, 0, 0)";
      							ctx.strokeStyle = "rgb(48, 0, 0)";
						        break;
						    case 'R':
								ctx.fillStyle = "rgb(96, 0, 0)";
      							ctx.strokeStyle = "rgb(48, 0, 0)";
						        break;
						    case 'b':
								ctx.fillStyle = "rgb(32, 32, 32)";
      							ctx.strokeStyle = "rgb(16, 16, 16)";
						        break;
						    case 'B':
								ctx.fillStyle = "rgb(32, 32, 32)";
      							ctx.strokeStyle = "rgb(16, 16, 16)";
						        break;
    						default:
								ctx.fillStyle = "rgb(128, 128, 128)";
      							ctx.strokeStyle = "rgb(96, 96, 96)";
						}

						if (y == selected_pos[0] && x == selected_pos[1]) {
      							ctx.strokeStyle = "rgb(128, 128, 64)";
						}

						ctx.beginPath();
						ctx.arc(temp_x, temp_y, d / 2, 0, 2 * Math.PI, false);
						ctx.closePath();
						ctx.fill();
      					ctx.lineWidth = 5;
      					ctx.stroke();
					}
				}
			}
		}

		function draw_board()
		{
			var alt = true;

			for(var x = 0; x < 8; x++) {
				for (var y = 0; y < 8; y++) {
					if (alt) {
						ctx.fillStyle = "rgb(128, 0, 0)";
					}
					else {
						ctx.fillStyle = "rgb(64, 64, 64)";
					}

					ctx.fillRect(x * d, y * d, d, d);
					alt = !alt;
				}
				alt = !alt;
			}

			draw_pieces();
		}

	    function getPosition(e) {
	    	var x = new Number();
        	var y = new Number();

	        if (e.x != undefined && e.y != undefined)
	        {
	          	x = e.x;
	          	y = e.y;
	        }
	        else
	        {
	          	x = e.clientX + document.body.scrollLeft + document.documentElement.scrollLeft;
	         	y = e.clientY + document.body.scrollTop + document.documentElement.scrollTop;
	        }

	        x -= canvas.offsetLeft;
	        y -= canvas.offsetTop;

	        var temp_y = Math.floor(y / d);
	        var temp_x = Math.floor(x / d);

	        if (turn)
	        {
	        	if (board[temp_y][temp_x] == 'r' || board[temp_y][temp_x] == 'R')
	        	{
		        	selected_pos[0] = temp_y;
		        	selected_pos[1] = temp_x;
	        	}

	        }
	        else
	        {
	        	if (board[temp_y][temp_x] == 'b' || board[temp_y][temp_x] == 'B')
	        	{
		        	selected_pos[0] = temp_y;
		        	selected_pos[1] = temp_x;
	        	}
	        }

        	draw_board();
	    }
	</script>
	<canvas id="checkerboard" width="600" height="600" style="border:1px solid black"></canvas>
{% endblock %}