{% extends "base.html" %}
{% block nav %}{{ block.super }}{% endblock %}
{% block content %}
	<message>{{ message }}</message>
    <table>
	<tr>
	  <th>&nbsp;Username&nbsp;</th>
	  <th>&nbsp;Game ID&nbsp;</th>
	  <th>&nbsp;Join&nbsp;</th>
	</tr>

	{% for game in games %}
	<tr>
	  <td>{{ game.player1.user_name }}</td>
	  <td>{{ game.id }}</td>
	  <td><a href = "">&nbsp;Join&nbsp;</a></td>
	</tr>
	{% endfor %}
	</table>
	<br>

	<table>
	<tr>
	  <th>&nbsp;Available AI&nbsp;</th>
	  <th>Join</th>
	</tr>
	{% for ai in AI %}
	<tr>
	  <td>{{ ai.name }}</td> 
	  <td><a href = "/TTT/select_game/{{ ai.name }}">&nbsp;Join&nbsp;</a></td>
	</tr>
	{% endfor %}
	</table>
{% endblock %}