{% extends "base.html" %}
{% block nav %}{{ block.super }}{% endblock %}
{% block content %}
      <message>{{ message }}</message>
    <table class="table">
	<tr>
	  <td>Script ID</td>
	  <td>Script Name</td>
	  <td>Wins</td>
	  <td>Losses</td>
	  <td>Draws</td>
	  <td>View Script</td>
	  <td>View Games</td>
	</tr>

	{% for script in scripts %}
	<tr>
	  <td>{{ script.id }}</td>
	  <td>{{ script.name }}</td>
	  <td>{{ script.wins }}</td>
	  <td>{{ script.losses }}</td>
	  <td>{{ script.draws }}</td>
	  <td><a href = "view_script_list/{{ script.id }}">View</a></td>
	  <td><a href = "view_script_games/{{ script.id }}">View</a></td>
	</tr>
	{% endfor %}
      </table>
{% endblock %}
